@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="/img/WestWind.png" alt="WestWind" style="float:right;"  width="400" height="400"/>
    <h5>@ViewData["Title"]</h5>
</div>
<div class="offset-1">
    <p>West Wind is a site that supports a database about different Product Lines.
    </p>

    <p>
        The database will include information about:
        <ul>
            <li>Suppliers</li>
            <li>Categories</li>
            <li>Products</li>
        </ul>
    </p>
</div>
